<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shengxian.mapper.ClerkMapper">

    <!--查询员工APP版本号-->
    <select id="version" resultType="String">
        select version  from version where type = 3
    </select>


    <!--app中判断在是否有退出登录过-->
    <select id="appIsLogin" resultType="Integer">
        select id from shengxian_staff
        where is_del=0 and  status =0 and token = #{token} and  phone =#{phone}  and model = #{model}
        and system =#{system} and version =#{version} and platform =#{platform}  and SDKVersion =#{SDKVersion}
    </select>

    <!--修改手机设备-->
    <update id="updateEquipment">
        update shengxian_staff set status = 0 , model =#{model} ,system =#{system} ,version =#{version} ,platform =#{platform} ,SDKVersion =#{SDKVersion}
        where is_del=0 and  token =#{token}
    </update>

    <!--查询共享订单总数-->
    <select id="sharingOrderCount" resultType="Integer">
        select count(o.id)
        from shengxian_binding bd
        inner join shengxian_order o on bd.id = o.binding_id
        where o.is_del = 0 and bd.is_del =0 and o.status in (1,2) and o.business_id = #{business_id} and o.mold = 0
    </select>

    <!--查询共享订单集合-->
    <select id="sharingOrder" resultType="HashMap">
        select o.id ,o.binding_id,o.business_id, bd.user_name,o.price,o.part,o.making,o.order_number ,o.create_time,
        ifnull( (select phone from user where is_del =0 and id = bd.user_id),bd.telephone)phone
        from shengxian_binding bd
        inner join shengxian_order o on bd.id = o.binding_id
        where o.is_del = 0 and bd.is_del =0 and o.status in (1,2)  and o.business_id = #{business_id} and o.mold = 0
        order by o.create_time desc limit #{startIndex} ,#{pageSize}
    </select>


    <!--通过订单ID查询订单信息-->
    <select id="orderInfo" resultType="HashMap">
        select o.binding_id, bd.user_name,bd.number ,o.price,o.difference_price,o.freight,o.beizhu ,
        if(coupon_id = 0 ,0,(select reduce from shengxian_binding_coupon where id = o.coupon_id ))coupon
        from shengxian_order o
        inner join shengxian_binding bd on bd.id = o.binding_id and bd.is_del =0
        where o.is_del = 0 and  o.id = #{id}
    </select>

    <!--通过订单ID查询订单详情的产品信息-->
    <select id="orderDateilGoods" resultType="HashMap">
        select g.`name`,g.units, od.order_number ,od.order_price ,(od.order_number *od.order_price )total,od.type ,
        (select img from shengxian_goods_img gi where g.id= gi.goods_id order by gi.id asc limit 1)img
        from shengxian_order_details od
        inner join (select id ,name ,units,is_del  from shengxian_goods )g on g.id = od.goods_id and g.is_del =0
        where od.order_id = #{order_id}
    </select>

    <!--通过token查询商家ID和员工ID-->
    <select id="bidAndSidByToken" resultType="com.shengxian.entity.clerkApp.Clerk">
        select id ,business_id  from shengxian_staff where is_del = 0 and token = #{token}
    </select>

    <!--未到货的订单总数-->
    <select id="noArrivedOrderCount" resultType="Integer">
        select count(o.id)
        from shengxian_order o
        inner join shengxian_binding bd on bd.id = o.binding_id
        where o.is_del = 0 and bd.is_del =0 and o.status =3  and o.business_id = #{business_id} and o.staff_id = #{staff_id}
        <if test="name != null and name != ''">
            and (o.order_number like CONCAT('%',#{name},'%') or bd.user_name like CONCAT('%',#{name},'%') )
        </if>
    </select>

    <!--未到货的订单-->
    <select id="noArrivedOrder" resultType="HashMap">
        select o.id ,o.binding_id,o.business_id, bd.user_name,o.price,o.part,o.making,o.mold ,o.order_number,
        ifnull( (select phone from user where is_del =0 and id = bd.user_id),bd.telephone)phone  , o.create_time
        from shengxian_order o
        inner join shengxian_binding bd on bd.id = o.binding_id
        where o.is_del = 0 and bd.is_del =0 and o.status = 3  and o.business_id = #{business_id} and o.staff_id = #{staff_id}
        <if test="name != null and name != ''">
            and (o.order_number like CONCAT('%',#{name},'%') or bd.user_name like CONCAT('%',#{name},'%') )
        </if>
        order by o.create_time asc limit #{startIndex} ,#{pageSize}
    </select>

    <!--未到货的订单-->
    <select id="noArrivedOrderTotalMoney" resultType="Double">
        select ifnull(sum(o.price),0)
        from shengxian_order o
        inner join shengxian_binding bd on bd.id = o.binding_id
        where o.is_del = 0 and bd.is_del =0 and o.status = 3  and o.business_id = #{business_id} and o.staff_id = #{staff_id}
        <if test="mold != null">
            and o.mold = #{mold}
        </if>
        <if test="name != null and name != ''">
            and (o.order_number like CONCAT('%',#{name},'%') or bd.user_name like CONCAT('%',#{name},'%') )
        </if>
    </select>


    <!--取消接单-->
    <update id="upateOrderRegression">
        update shengxian_order set status = 2 , staff_id =0 where id = #{id}
    </update>

    <!--未收款的订单总数-->
    <select id="uncollectedOrderListCount" resultType="Integer">
        select count(o.id)
        from shengxian_order o
        inner join shengxian_binding bd on bd.id = o.binding_id
        where o.is_del = 0 and bd.is_del =0 and o.status =4 and o.state = 0  and o.business_id = #{business_id} and o.staff_id = #{staff_id}
        <if test="name != null and name != ''">
            and (o.order_number like CONCAT('%',#{name},'%') or bd.user_name like CONCAT('%',#{name},'%') )
        </if>
    </select>

    <!--未收款的订单-->
    <select id="uncollectedOrderList" resultType="HashMap">
        select o.id ,o.binding_id,o.business_id, bd.user_name,o.price,o.part,o.mold,o.order_number,
        ifnull( (select phone from user where is_del =0 and id = bd.user_id),bd.telephone)phone ,o.audit_time
        from shengxian_order o
        inner join shengxian_binding bd on bd.id = o.binding_id
        where o.is_del = 0 and bd.is_del =0 and o.status =4 and o.state = 0  and o.business_id = #{business_id} and o.staff_id = #{staff_id}
        <if test="name != null and name != ''">
            and (o.order_number like CONCAT('%',#{name},'%') or bd.user_name like CONCAT('%',#{name},'%')  )
        </if>
        order by o.audit_time desc limit #{startIndex} ,#{pageSize}
    </select>

    <!--未收款的订单总金额-->
    <select id="uncollectedOrderListTotalMoney" resultType="Double">
        select ifnull(sum(o.price) , 0 )
        from shengxian_order o
        inner join shengxian_binding bd on bd.id = o.binding_id
        where o.is_del = 0 and bd.is_del =0 and o.status =4 and o.state = 0  and o.business_id = #{business_id} and o.staff_id = #{staff_id}
        <if test="mold != null">
            and o.mold = #{mold}
        </if>
        <if test="name != null and name != ''">
            and (o.order_number like CONCAT('%',#{name},'%') or bd.user_name like CONCAT('%',#{name},'%')  )
        </if>
    </select>

    <!--欠款的订单总数-->
    <select id="arrearsOrderListCount" resultType="Integer">
        select count(o.id)
        from shengxian_order o
        inner join shengxian_binding bd on bd.id = o.binding_id
        where o.is_del = 0 and bd.is_del =0 and o.status =4 and o.state = 2  and o.business_id = #{business_id} and o.staff_id = #{staff_id}
        <if test="name != null and name != ''">
            and (o.order_number like CONCAT('%',#{name},'%') or bd.user_name like CONCAT('%',#{name},'%')  )
        </if>
    </select>

    <!--欠款的订单-->
    <select id="arrearsOrderList" resultType="HashMap">
        select o.id ,o.binding_id,o.business_id, bd.user_name,o.price ,o.part,o.mold ,o.order_number,o.money2 ,
        ifnull( (select phone from user where is_del =0 and id = bd.user_id),bd.telephone)phone ,o.receivable_time
        from shengxian_order o
        inner join shengxian_binding bd on bd.id = o.binding_id
        where o.is_del = 0 and bd.is_del =0 and o.status =4 and o.state = 2  and o.business_id = #{business_id} and o.staff_id = #{staff_id}
        <if test="name != null and name != ''">
            and (o.order_number like CONCAT('%',#{name},'%') or bd.user_name like CONCAT('%',#{name},'%')  )
        </if>
        order by o.receivable_time desc limit #{startIndex} ,#{pageSize}
    </select>

    <!--欠款的订单总金额-->
    <select id="arrearsOrderListTotalMoney" resultType="com.shengxian.entity.Money">
        select ifnull(sum(o.price),0)price ,ifnull(sum(o.money2),0)money2
        from shengxian_order o
        inner join shengxian_binding bd on bd.id = o.binding_id
        where o.is_del = 0 and bd.is_del =0 and o.status =4 and o.state = 2  and o.business_id = #{business_id} and o.staff_id = #{staff_id}
        <if test="mold != null">
            and o.mold = #{mold}
        </if>
        <if test="name != null and name != ''">
            and (o.order_number like CONCAT('%',#{name},'%') or bd.user_name like CONCAT('%',#{name},'%')  )
        </if>
    </select>



    <!--完成的订单总数-->
    <select id="completeOrderListCount" resultType="Integer">
        select count(o.id)
        from shengxian_order o
        inner join shengxian_binding bd on bd.id = o.binding_id
        where o.is_del = 0 and bd.is_del =0 and o.status =4 and o.state = 3  and o.business_id = #{business_id} and o.staff_id = #{staff_id}
        <if test="name != null and name != ''">
            and (o.order_number like CONCAT('%',#{name},'%') or bd.user_name like CONCAT('%',#{name},'%')  )
        </if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            and DATE_FORMAT(o.receivable_time,'%Y-%m-%d') &lt;= #{endTime} and DATE_FORMAT(o.receivable_time,'%Y-%m-%d') &gt;= #{startTime}
        </if>
    </select>

    <!--完成的订单-->
    <select id="completeOrderList" resultType="HashMap">
        select o.id ,o.binding_id,o.business_id, bd.user_name,o.price,o.part,o.mold,o.order_number,o.money ,
        ifnull( (select phone from user where is_del =0 and id = bd.user_id),bd.telephone)phone ,o.receivable_time
        from shengxian_order o
        inner join shengxian_binding bd on bd.id = o.binding_id
        where o.is_del = 0 and bd.is_del =0 and o.status =4 and o.state = 3  and o.business_id = #{business_id} and o.staff_id = #{staff_id}
        <if test="name != null and name != ''">
            and (o.order_number like CONCAT('%',#{name},'%') or bd.user_name like CONCAT('%',#{name},'%')  )
        </if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            and DATE_FORMAT(o.receivable_time,'%Y-%m-%d') &lt;= #{endTime} and DATE_FORMAT(o.receivable_time,'%Y-%m-%d') &gt;= #{startTime}
        </if>
        order by o.receivable_time desc limit #{startIndex} ,#{pageSize}
    </select>

    <!--完成的订单总金额-->
    <select id="completeOrderListTotalMoney" resultType="com.shengxian.entity.Money">
        select ifnull(sum(o.price),0)price,ifnull(sum(o.money),0)money
        from shengxian_order o
        inner join shengxian_binding bd on bd.id = o.binding_id
        where o.is_del = 0 and bd.is_del =0 and o.status =4 and o.state = 3  and o.business_id = #{business_id} and o.staff_id = #{staff_id}
        <if test="mold != null">
            and o.mold = #{mold}
        </if>
        <if test="name != null and name != ''">
            and (o.order_number like CONCAT('%',#{name},'%') or bd.user_name like CONCAT('%',#{name},'%') )
        </if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            and DATE_FORMAT(o.receivable_time,'%Y-%m-%d') &lt;= #{endTime} and DATE_FORMAT(o.receivable_time,'%Y-%m-%d') &gt;= #{startTime}
        </if>
    </select>

    <!--通过员工ID查询APP功能菜单列表-->
    <select id="staffFunctionList" resultType="HashMap">
        select id ,menu  from shengxian_menu_staff where state = 1 and  staff_id = #{staff_id}
    </select>

    <!--客户列表总数-->
    <select id="bindingUserListCount" resultType="Integer">
        select count(id) from shengxian_binding where is_del = 0 and business_id = #{business_id}
        <if test="name != null and name != ''">
            and ( user_name like CONCAT('%',#{name},'%') or  number like CONCAT('%',#{name},'%')  )
        </if>
        <if test="category_id != null ">
            and category_id = #{category_id}
        </if>
    </select>

    <!--客户列表-->
    <select id="bindingUserList" resultType="HashMap">
        select id , user_name ,number from shengxian_binding where is_del = 0 and business_id = #{business_id}
        <if test="name != null and name != ''">
            and ( user_name like CONCAT('%',#{name},'%') or  number like CONCAT('%',#{name},'%')  )
        </if>
        <if test="category_id != null ">
            and category_id = #{category_id}
        </if>
        order by id asc limit #{startIndex} ,#{pageSize}
    </select>


    <!--供应商列表总数-->
    <select id="suppliersListCount" resultType="Integer">
        select count(id) from shengxian_suppliers where is_del = 0 and business_id = #{business_id}
        <if test="name != null and name != ''">
            and name like CONCAT('%',#{name},'%')
        </if>
        <if test="category_id != null ">
            and category_id = #{category_id}
        </if>
    </select>

    <!--供应商列表-->
    <select id="suppliersList" resultType="HashMap">
        select id , name ,number from shengxian_suppliers where is_del = 0 and business_id = #{business_id}
        <if test="name != null and name != ''">
            and name like CONCAT('%',#{name},'%')
        </if>
        <if test="category_id != null ">
            and category_id = #{category_id}
        </if>
        order by id asc limit #{startIndex} ,#{pageSize}
    </select>


    <!--已录入的订单总数-->
    <select id="haveJoinedShoppingcartCount" resultType="Integer">
        <if test="mold == 0">
            select count(sm.id)
            from shengxian_shopping_mall sm
            inner join shengxian_binding bd on bd.id = sm.consume_id and bd.is_del = 0
            where sm.op_id = #{id}
            order by sm.create_time limit #{startIndex} ,#{pageSize}
        </if>
        <if test="mold == 1">
            select count(sm.id)
            from shengxian_shopping_mall sm
            inner join shengxian_suppliers s on s.id = sm.consume_id and s.is_del = 0
            where sm.op_id = #{id}
            order by sm.create_time limit #{startIndex} ,#{pageSize}
        </if>
    </select>

    <!--已录入的订单总数-->
    <select id="haveJoinedShoppingcart" resultType="HashMap">
        <if test="mold == 0">
            select bd.id ,sm.id as sm_id , bd.user_name as name ,sm.beizhu ,sm.create_time ,DATE_ADD(sm.create_time ,INTERVAL 1 DAY)time
            from shengxian_shopping_mall sm
            inner join shengxian_binding bd on bd.id = sm.consume_id and bd.is_del = 0
            where sm.op_id = #{id}
            order by sm.create_time limit #{startIndex} ,#{pageSize}
        </if>
        <if test="mold == 1">
            select s.id ,sm.id as sm_id , s.name ,sm.beizhu ,sm.create_time ,DATE_ADD(sm.create_time ,INTERVAL 1 DAY)time
            from shengxian_shopping_mall sm
            inner join shengxian_suppliers s on s.id = sm.consume_id and s.is_del = 0
            where sm.op_id = #{id}
            order by sm.create_time limit #{startIndex} ,#{pageSize}
        </if>
    </select>

    <!--通过客户ID查询客户信息-->
    <select id="bindingUserById" resultType="HashMap">
        select id , user_name ,best_time from shengxian_binding where is_del = 0 and id = #{id}
    </select>

    <!--店铺产品类别-->
    <select id="busienssGoodsCategory" resultType="HashMap">
        select id , name from shengxian_goods_category
        where business_id = #{business_id}
        <if test="level == null">
            and level != 0
        </if>
        <if test="level != null">
            and level = #{level}
        </if>
    </select>

    <!--判断是大类别还是小类别-->
    <select id="largeClassOrSmalClass" resultType="Integer">
        select `level` from shengxian_goods_category  where id=#{id}
    </select>

    <!--店铺类别下的产品总数客户）-->
    <select id="businessGoodsListCount" resultType="Integer">
        select  count(g.id)
        from shengxian_goods g
        inner join shengxian_goods_category gc on gc.id=g.category_id
        inner join shengxian_goods_inventory gi on gi.goods_id = g.id
        left join shengxian_goods_collection c on c.goods_id = g.id and c.binding_id = #{binding_id}
        left join (select price , goods_id , scheme_id from shengxian_goods_scheme  ) gs on gs.goods_id = g.id  and  gs.scheme_id = #{scheme_id}
        where g.is_del=0  and g.business_id = #{business_id}
        <if test="category_id != null">
            and g.category_id = #{category_id}
        </if>
        <if test="level != null">
            and gc.level =#{level}
        </if>
        <if test="name != null and name != ''">
            and g.name LIKE CONCAT('%',#{name},'%')
        </if>
    </select>

    <!--店铺类别下的产品（客户）-->
    <select id="businessGoodsList" resultType="HashMap">
        select  g.id as goods_id,g.`name`,g.units,g.minimum_price, if( 0 = #{inv} ,gi.fictitious , '库存不可见' )fictitious ,
        ifnull(gs.price ,(select od.order_price  from shengxian_order_details od,shengxian_order o where o.id = od.order_id and o.is_del=0 and
        od.goods_id =g.id and o.binding_id = #{binding_id} order by od.id desc limit 1) )price ,
        ifnull(c.id , 0)c_id
        from shengxian_goods g
        inner join shengxian_goods_category gc on gc.id=g.category_id
        inner join shengxian_goods_inventory gi on gi.goods_id = g.id
        left join shengxian_goods_collection c on c.goods_id = g.id and c.binding_id = #{binding_id}
        left join (select price , goods_id , scheme_id from shengxian_goods_scheme  ) gs on gs.goods_id = g.id  and  gs.scheme_id = #{scheme_id}
        where g.is_del=0  and g.business_id = #{business_id}
        <if test="category_id != null">
            and g.category_id = #{category_id}
        </if>
        <if test="level != null">
            and gc.level =#{level}
        </if>
        <if test="name != null and name != ''">
            and g.name LIKE CONCAT('%',#{name},'%')
        </if>
        order by g.id asc limit #{startIndex} ,#{pageSize}
    </select>

    <!--app店铺类别下的产品总数（供应商）-->
    <select id="businessGoodsListSuppliersCount" resultType="Integer">
        select count(g.id)
        from shengxian_goods g
        inner join shengxian_goods_category gc on gc.id = g.category_id
        inner join shengxian_goods_inventory gi on gi.goods_id = g.id
        left join shengxian_business_goods_collection c on c.goods_id = g.id and c.suppliers_id = #{binding_id}
        where g.is_del=0  and g.business_id = #{business_id}
        <if test="category_id != null">
            and g.category_id = #{category_id}
        </if>
        <if test="level != null">
            and gc.level =#{level}
        </if>
        <if test="name != null and name != ''">
            and g.name LIKE CONCAT('%',#{name},'%')
        </if>
    </select>

    <!--app店铺类别下的产品（供应商）-->
    <select id="businessGoodsListSuppliers" resultType="HashMap">
        select  g.id as goods_id,g.`name`,g.units,
        if( 0 = #{inv} ,gi.fictitious , '库存不可见' )fictitious ,if( 0 = #{shield} , g.cost_price ,'进价不可见')cost_price ,
        IFNULL((select purchase_price from shengxian_purchase_detail pd,shengxian_purchase p
        where pd.goods_id = g.id and p.id = pd.purchase_id and p.suppliers_id = #{binding_id} order by pd.id desc limit 1),g.cost_price)price ,
        ifnull(c.id , 0)c_id
        from shengxian_goods g
        inner join shengxian_goods_category gc on gc.id = g.category_id
        inner join shengxian_goods_inventory gi on gi.goods_id = g.id
        left join shengxian_business_goods_collection c on c.goods_id = g.id and c.suppliers_id = #{binding_id}
        where g.is_del=0  and g.business_id = #{business_id}
        <if test="category_id != null">
            and g.category_id = #{category_id}
        </if>
        <if test="level != null">
            and gc.level =#{level}
        </if>
        <if test="name != null and name != ''">
            and g.name LIKE CONCAT('%',#{name},'%')
        </if>
        order by g.id asc limit #{startIndex} ,#{pageSize}
    </select>


    <!--通过员工ID和绑定客户ID查询客户是否有购物车id-->
    <select id="selectShoppingMall" resultType="Integer">
        <if test="role == 1">
            select id from shengxian_shopping_mall
            where type = 0 and  op_id = #{op_id} and consume_id = #{binding_id} and mold = #{mold}
        </if>
        <if test="role == 2">
            select id from shengxian_shopping_mall
            where type = 1 and  op_id = #{op_id} and consume_id = #{binding_id} and mold = #{mold}
        </if>
    </select>

    <!--添加购物车-->
    <insert id="addShoppingMall" keyProperty="id" useGeneratedKeys="true">
        insert into shengxian_shopping_mall(op_id ,consume_id ,type ,mold ,create_time)
        values(#{op_id} ,#{consume_id} ,#{type} ,#{mold} ,#{create_time})
    </insert>

    <!--通过goods_id和type和mold查询购物车详情里是存在-->
    <select id="selectShoppingMallDateil" resultType="Integer">
        select id from shengxian_shopping_mall_dateil
        where sm_id = #{sm_id} and goods_id = #{goods_id} and type = #{type} and mold = #{mold}
    </select>

    <!--添加购物车详情-->
    <insert id="addShoppingMallDateil" keyProperty="id" useGeneratedKeys="true">
        insert into shengxian_shopping_mall_dateil(sm_id ,goods_id ,price , num ,type ,mold ,create_time)
        values(#{sm_id} , #{goods_id} ,#{price} ,#{num} , #{type} ,#{mold} ,#{create_time})
    </insert>

    <!--通过购物车详情ID加购物车产品数量-->
    <update id="updateShoppingMallDateilPlusNum">
        update shengxian_shopping_mall_dateil set num =  #{num} where id = #{id}
    </update>

    <!--计算加入购物车里产品的总金额（数量乘以单价）-->
    <select id="selectShoppingMallTotalMoney" resultType="Double">
        select ifnull(sum(price * num),0) from shengxian_shopping_mall_dateil where type = 0  and sm_id = #{sm_id}
    </select>

    <!--修改购物车里的总金额-->
    <update id="updateShoppingMallMoney">
        update shengxian_shopping_mall set money = #{money} where id = #{id}
    </update>

    <!--通过购物车详情ID减掉购物车产品数量-->
    <update id="updateShoppingMallDateilNum">
        update shengxian_shopping_mall_dateil set num = num -1 where id = #{id}
    </update>

    <!--通过购物车详情ID查询购物车产品数量-->
    <select id="selectShoppingMallDateilNum" resultType="Double">
        select num from shengxian_shopping_mall_dateil where id = #{id}
    </select>

    <!--删除购物车详情ID-->
    <delete id="deleteShoppingMallDateil">
        delete from shengxian_shopping_mall_dateil where id = #{id}
    </delete>

    <!--通过购物车id查询购物车详情下是否还有产品-->
    <select id="selectShoppingMallDateilIsGoods" resultType="Integer">
      select id from shengxian_shopping_mall_dateil where sm_id = #{sm_id}
    </select>

    <delete id="deleteShoppingMallDateilBySmId">
        delete from shengxian_shopping_mall_dateil  where sm_id = #{sm_id}
    </delete>

    <!--删除购物车-->
    <delete id="deleteShoppingMall">
        delete from shengxian_shopping_mall where id = #{id}
    </delete>

    <!--通过员工ID和客户绑定ID查询购物车信息-->
    <select id="selectShoppingMallInfo" resultType="HashMap">
          <if test="role == 1">
              select id   ,DATE_ADD(create_time ,INTERVAL 1 DAY)time
              from shengxian_shopping_mall
              where type = 0 and  op_id = #{op_id} and consume_id = #{binding_id} and mold = #{mold}
          </if>
          <if test="role == 2">
              select id ,DATE_ADD(create_time ,INTERVAL 1 DAY)time
              from shengxian_shopping_mall
              where type = 1 and  op_id = #{op_id} and consume_id = #{binding_id} and mold = #{mold}
          </if>
    </select>



    <!--通过购物车ID查询购物车详情总数-->
    <select id="selectShoppingMallDateCount" resultType="Integer">
        select sum(num) from shengxian_shopping_mall_dateil where sm_id = #{sm_id}
    </select>

    <!--通过购物车ID查询购物车总金额-->
    <select id="findShoppingMallTotalMoney" resultType="com.shengxian.entity.clerkApp.ShoppingMall">
        select id ,consume_id ,money , type ,op_id   from shengxian_shopping_mall where id = #{id}
    </select>

    <!--通过购物车ID查询购物车详情产品列表-->
    <select id="currentBindingShoppingMallGoodsList" resultType="com.shengxian.entity.clerkApp.ShoppingMallDateil">
        select smd.id , smd.goods_id ,smd.num ,smd.price , g.`name`,g.units, smd.type
        from shengxian_shopping_mall_dateil smd
        inner join shengxian_goods g on g.id = smd.goods_id and g.is_del = 0
        where smd.sm_id = #{sm_id}
    </select>

    <!--通过购物车ID查询购物车详情-->
    <select id="ShoppingMallGoodsListBySMID" resultType="HashMap">
        select smd.goods_id,smd.num ,smd.price,smd.type
        from shengxian_shopping_mall_dateil smd
        inner join shengxian_goods g on g.id = smd.goods_id and g.is_del = 0
        where smd.mold = #{mold} and  smd.sm_id = #{sm_id}
    </select>

    <!--通过token查询员工姓名店铺ID-->
    <select id="staffNameAndBusiness_id" resultType="HashMap">
        select name ,business_id from shengxian_staff where is_del =  0 and token = #{token}
    </select>

    <!--根据产品id查询产品进价金额-->
    <select id="findGoodsCostPrice" resultType="Double">
        select cost_price from shengxian_goods where id=#{id}
    </select>

    <!--修改报损单的订单详情id-->
    <update id="updateLoss">
        update shengxian_loss_goods set order_id=#{order_id} where id = #{id}
    </update>

    <!--客户收藏的产品总数-->
    <select id="bindingCollectionBindingGoodsListCount" resultType="Integer">
        select count(gc.id)
        from shengxian_goods_collection gc
        inner join (select id,name ,number,units,minimum_price,business_id,is_del  from shengxian_goods ) g on g.id = gc.goods_id and g.is_del=0
        left join (select price , goods_id , scheme_id from shengxian_goods_scheme  ) gs on gs.goods_id = g.id  and  gs.scheme_id = #{schemeId}
        where  gc.binding_id = #{bindingId} and g.business_id = #{businessId}
        <if test="name != null and name != ''">
            and g.name LIKE CONCAT("%",#{name},'%')
        </if>
    </select>

    <!--客户收藏的产品-->
    <select id="bindingCollectionBindingGoodsList" resultType="HashMap">
        select gc.id, g.id as goods_id ,g.`name`,g.units,g.minimum_price,if( 0 = #{inv} ,gi.fictitious , '库存不可见' )fictitious ,
        ifnull(gs.price ,(select od.order_price  from shengxian_order_details od,shengxian_order o where o.id = od.order_id and o.is_del=0 and
        od.goods_id =g.id and o.binding_id = #{bindingId} order by od.id desc limit 1) )price
        from shengxian_goods_collection gc
        inner join (select id,name ,number,units,minimum_price,business_id,is_del  from shengxian_goods ) g on g.id = gc.goods_id and g.is_del = 0
        inner join shengxian_goods_inventory gi on gi.goods_id = g.id and gi.goods_id = gc.goods_id
        left join (select price , goods_id , scheme_id from shengxian_goods_scheme  ) gs on gs.goods_id = g.id  and  gs.scheme_id = #{schemeId}
        where  gc.binding_id = #{bindingId} and g.business_id  =#{businessId}
        <if test="name != null and name != ''">
            and g.name LIKE CONCAT("%",#{name},'%')
        </if>
        order by gc.id desc limit #{startIndex} ,#{pageSize}
    </select>


    <!--店铺收藏供应商的产品总数-->
    <select id="bindingCollectionSuppliersGoodsListCount" resultType="Integer">
        select count(gc.id)
        from shengxian_business_goods_collection gc
        inner join (select id,name ,number,units,minimum_price,business_id,is_del  from shengxian_goods ) g on g.id=gc.goods_id and g.is_del=0
        inner join shengxian_goods_inventory gi on gi.goods_id = g.id and gi.goods_id = gc.goods_id
        where  gc.suppliers_id=#{suppliersId} and g.business_id=#{businessId} and gc.business_id = #{businessId}
        <if test="name != null and name != ''">
            and (g.name LIKE CONCAT("%",#{name},'%') or g.number LIKE CONCAT("%",#{name},'%'))
        </if>
    </select>

    <!--店铺收藏供应商的产品-->
    <select id="bindingCollectionSuppliersGoodsList" resultType="HashMap">
        select gc.id, g.id as goods_id,g.`name`,g.units,  if( 0 = #{inv} ,gi.fictitious , '库存不可见' )fictitious ,if( 0 = #{shield} , g.cost_price ,'进价不可见')cost_price ,
        IFNULL((select purchase_price from shengxian_purchase_detail pd,shengxian_purchase p
        where pd.goods_id = g.id and p.id = pd.purchase_id and p.suppliers_id = #{suppliersId} order by pd.id desc limit 1),g.cost_price)price
        from shengxian_business_goods_collection gc
        inner join (select id,name ,number ,units,cost_price ,business_id ,is_del  from shengxian_goods ) g on g.id = gc.goods_id and g.is_del = 0
        inner join shengxian_goods_inventory gi on gi.goods_id = g.id and gi.goods_id = gc.goods_id
        where  gc.suppliers_id=#{suppliersId} and g.business_id = #{businessId} and gc.business_id = #{businessId}
        <if test="name != null and name != ''">
            and (g.name LIKE CONCAT("%",#{name},'%') or g.number LIKE CONCAT("%",#{name},'%'))
        </if>
        order by gc.id desc limit #{startIndex} ,#{pageSize}
    </select>

    <!--销售收款总数(默认进来数据不加载，通过扫一扫或搜索)-->
    <select id="saleReceivablesCount" resultType="Integer">
        select count(o.id)
        from shengxian_order o
        inner join shengxian_binding bd on bd.id = o.binding_id
        where o.is_del = 0 and bd.is_del =0 and o.status =4   and o.business_id = #{business_id}
        <if test="name != null and name != ''">
            and (o.no like CONCAT('%',#{name},'%') or bd.user_name like CONCAT('%',#{name},'%')  )
        </if>
        <if test="number != null and number != ''">
            and o.order_number like CONCAT('%',#{number},'%')
        </if>
    </select>

    <!--销售收款(默认进来数据不加载，通过扫一扫或搜索)-->
    <select id="saleReceivables" resultType="HashMap">
        select o.id ,o.no , bd.user_name,o.price ,o.mold,o.money2 ,o.money,o.state ,o.audit_time , o.receivable_time , o.order_number
        from shengxian_order o
        inner join shengxian_binding bd on bd.id = o.binding_id
        where o.is_del = 0 and bd.is_del =0 and o.status =4   and o.business_id = #{business_id}
        <if test="name != null and name != ''">
            and (o.no like CONCAT('%',#{name},'%') or bd.user_name like CONCAT('%',#{name},'%') )
        </if>
        <if test="number != null and number != ''">
            and o.order_number like CONCAT('%',#{number},'%')
        </if>
        order by o.audit_time desc limit #{startIndex} ,#{pageSize}
    </select>


    <!--获取我的信息-->
    <select id="myInfo" resultType="HashMap">
        select s.phone ,s.name ,b.store_name
        from shengxian_staff  s
        inner join shengxian_business b on b.id = s.business_id and b.is_del = 0
        where s.is_del = 0 and s.token = #{token}
    </select>

    <!--销售单和采购单总数-->
    <select id="saleAndPurchaseOrderCount" resultType="Integer">
        select count(a.id) from (
        select id from shengxian_order
        where  is_del = 0 and staff_id = #{staff_id} and DATE_FORMAT(create_time,'%Y-%m-%d') = CURDATE()
        UNION ALL
        select id from shengxian_purchase
        where is_del = 0 and staff_id = #{staff_id} and DATE_FORMAT(create_time,'%Y-%m-%d') = CURDATE() )a
    </select>

    
    <!--10种总提成统计-->
    <select id="statisMoneyCount" resultType="Double">
        select SUM(a.statis)  from (
        select os.statis  from shengxian_staff_order_statis os where os.staff_id = #{staff_id}
        and DATE_FORMAT(os.create_time ,'%Y-%m')  = DATE_FORMAT(CURDATE(),'%Y-%m')
        UNION ALL
        select ts.statis from shengxian_staff_timing_statis ts where ts.staff_id = #{staff_id}
        and ts.create_time = DATE_FORMAT(CURDATE(),'%Y-%m')  )a
    </select>
    
    <!--本月工资结算-->
    <select id="wageSettlement" resultType="com.shengxian.entity.WageSettlement">
        select a.time ,a.name , ws.money ,if(ws.time > DATE_FORMAT(DATE_SUB(CURDATE(),INTERVAL 2 MONTH ),'%Y-%m' )= 'null' , '不显示' ,'显示') sws
        from (
        select DATE_FORMAT(adddate(s.create_time, numlist.id),'%Y-%m') as time , s.`name`  from
        (SELECT n1.i + n10.i*10 + n100.i*100  AS id FROM num n1 cross join
        num as n10 cross join num as n100 ) as numlist , shengxian_staff s
        where adddate( s.create_time , numlist.id) &lt;= CURDATE() and s.id = #{staff_id} )a
        left join (select time, money ,staff_id from shengxian_staff_wage_settlement  )
         ws on ws.time = a.time and ws.staff_id = ${staff_id}
         where ws.time is null or ws.time &gt; DATE_FORMAT(DATE_SUB(CURDATE(),INTERVAL 2 MONTH ) , '%Y-%m' )
        group by a.time order by a.time desc
    </select>

    <!--提成分类总数-->
    <select id="percentageClassificationCount" resultType="Integer">
        <if test="type lt 3">
            select count(os.id)
            from shengxian_staff_order_statis os
            left join shengxian_order o on o.id = os.order_id
            left join shengxian_binding bd on bd.id = o.binding_id
            where os.staff_id = #{id} and os.type = #{type}
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and DATE_FORMAT(os.create_time,'%Y-%m-%d') &lt;= #{endTime} and DATE_FORMAT(os.create_time,'%Y-%m-%d') &gt;= #{startTime}
            </if>
        </if>
        <if test="type == 4">
            select  count(op.id)
            from shengxian_staff_once_percentage op
            left join shengxian_order o on o.id = op.order_id
            left join shengxian_binding bd on bd.id = o.binding_id
            where op.staff_id = #{id} and op.type = #{type}
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and DATE_FORMAT(op.create_time,'%Y-%m-%d') &lt;= #{endTime} and DATE_FORMAT(op.create_time,'%Y-%m-%d') &gt;= #{startTime}
            </if>
        </if>
        <if test="type > 2 and type != 4 and type lt 8">
            select count(f.id)
            from shengxian_staff_frequency f
            left join shengxian_order o on o.id = f.order_id
            left join shengxian_binding bd on bd.id = o.binding_id
            where f.staff_id = #{id} and f.type = #{type}
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and DATE_FORMAT(f.create_time,'%Y-%m-%d') &lt;= #{endTime} and DATE_FORMAT(f.create_time,'%Y-%m-%d') &gt;= #{startTime}
            </if>
        </if>
        <if test="type > 7  and type lt 11">
            select count(f.id)
            from shengxian_staff_frequency f
            left join shengxian_purchase p on p.id = f.order_id
            left join shengxian_suppliers s on s.id = p.suppliers_id
            where f.staff_id = #{id} and f.type = #{type}
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and DATE_FORMAT(f.create_time,'%Y-%m-%d') &lt;= #{endTime} and DATE_FORMAT(f.create_time,'%Y-%m-%d') &gt;= #{startTime}
            </if>
        </if>

    </select>


    <!--提成分类-->
    <select id="percentageClassification" resultType="HashMap">
        <if test="type lt 3">
            select os.id , os.statis ,os.create_time , bd.user_name , o.order_number ,o.no
            from shengxian_staff_order_statis os
            left join shengxian_order o on o.id = os.order_id
            left join shengxian_binding bd on bd.id = o.binding_id
            where os.staff_id = #{id} and os.type = #{type}
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and DATE_FORMAT(os.create_time,'%Y-%m-%d') &lt;= #{endTime} and DATE_FORMAT(os.create_time,'%Y-%m-%d') &gt;= #{startTime}
            </if>
            order by os.create_time desc limit #{startIndex},#{pageSize}
        </if>
        <if test="type == 4">
            select op.id ,1 as statis ,op.create_time , bd.user_name , o.order_number ,o.no
            from shengxian_staff_once_percentage op
            left join shengxian_order o on o.id = op.order_id
            left join shengxian_binding bd on bd.id = o.binding_id
            where op.staff_id = #{id} and op.type = #{type}
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and DATE_FORMAT(op.create_time,'%Y-%m-%d') &lt;= #{endTime} and DATE_FORMAT(op.create_time,'%Y-%m-%d') &gt;= #{startTime}
            </if>
            order by op.create_time desc limit #{startIndex},#{pageSize}
        </if>
        <if test="type > 2 and type != 4 and type lt 8">
            select f.id , f.statis ,f.create_time , bd.user_name , o.order_number ,o.no
            from shengxian_staff_frequency f
            left join shengxian_order o on o.id = f.order_id
            left join shengxian_binding bd on bd.id = o.binding_id
            where f.staff_id = #{id} and f.type = #{type}
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and DATE_FORMAT(f.create_time,'%Y-%m-%d') &lt;= #{endTime} and DATE_FORMAT(f.create_time,'%Y-%m-%d') &gt;= #{startTime}
            </if>
            order by f.create_time desc limit #{startIndex},#{pageSize}
        </if>
        <if test="type > 7  and type lt 11">
            select f.id , f.statis ,f.create_time , s.name as user_name , p.order_number ,p.no
            from shengxian_staff_frequency f
            left join shengxian_purchase p on p.id = f.order_id
            left join shengxian_suppliers s on s.id = p.suppliers_id
            where f.staff_id = #{id} and f.type = #{type}
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and DATE_FORMAT(f.create_time,'%Y-%m-%d') &lt;= #{endTime} and DATE_FORMAT(f.create_time,'%Y-%m-%d') &gt;= #{startTime}
            </if>
            order by f.create_time desc limit #{startIndex},#{pageSize}
        </if>
    </select>


    <!--提成分类总金额-->
    <select id="percentageClassificationTotalMoney" resultType="Double">
        <if test="type lt 3">
            select ifnull(sum(os.statis) , 0)
            from shengxian_staff_order_statis os
            left join shengxian_order o on o.id = os.order_id
            left join shengxian_binding bd on bd.id = o.binding_id
            where os.staff_id = #{id} and os.type = #{type}
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and DATE_FORMAT(os.create_time,'%Y-%m-%d') &lt;= #{endTime} and DATE_FORMAT(os.create_time,'%Y-%m-%d') &gt;= #{startTime}
            </if>
        </if>
        <if test="type == 4">
            select  count(op.id)
            from shengxian_staff_once_percentage op
            left join shengxian_order o on o.id = op.order_id
            left join shengxian_binding bd on bd.id = o.binding_id
            where op.staff_id = #{id} and op.type = #{type}
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and DATE_FORMAT(op.create_time,'%Y-%m-%d') &lt;= #{endTime} and DATE_FORMAT(op.create_time,'%Y-%m-%d') &gt;= #{startTime}
            </if>
        </if>
        <if test="type > 2 and type != 4 and type lt 8">
            select ifnull(sum(f.statis) , 0)
            from shengxian_staff_frequency f
            left join shengxian_order o on o.id = f.order_id
            left join shengxian_binding bd on bd.id = o.binding_id
            where f.staff_id = #{id} and f.type = #{type}
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and DATE_FORMAT(f.create_time,'%Y-%m-%d') &lt;= #{endTime} and DATE_FORMAT(f.create_time,'%Y-%m-%d') &gt;= #{startTime}
            </if>
        </if>
        <if test="type > 7  and type lt 11">
            select ifnull(sum(f.statis) , 0)
            from shengxian_staff_frequency f
            left join shengxian_purchase p on p.id = f.order_id
            left join shengxian_suppliers s on s.id = p.suppliers_id
            where f.staff_id = #{id} and f.type = #{type}
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and DATE_FORMAT(f.create_time,'%Y-%m-%d') &lt;= #{endTime} and DATE_FORMAT(f.create_time,'%Y-%m-%d') &gt;= #{startTime}
            </if>
        </if>
    </select>


    <!--客户账单总数-->
    <select id="shareUserOrderCount" resultType="Integer">
        select count(o.id)
        from shengxian_order o
        inner join shengxian_order_details od on od.order_id = o.id
        inner join shengxian_binding bd on bd.id = o.binding_id
        left join shengxian_goods g on g.id = od.goods_id
        where o.is_del = 0 and o.status = 4  and o.business_id = #{business_id}  and o.mold = 0
        <if test="type != null ">
            and o.state in (0,2)
        </if>
        <if test="bindindId != null">
            and bd.id = #{bindindId}
        </if>
        <if test="name != null and name != ''">
            and bd.user_name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            and DATE_FORMAT(o.audit_time,'%Y-%m-%d') &lt;= #{endTime} and DATE_FORMAT(o.audit_time,'%Y-%m-%d') &gt;= #{startTime}
        </if>
        order by o.audit_time desc
    </select>

    <!--客户账单-->
    <select id="shareUserOrder" resultType="HashMap">
        select od.id ,bd.user_name , g.`name`, od.profit , DATE_FORMAT(o.audit_time,'%Y-%m-%d')audit_time,
        ( od.cost_price * od.order_number)cost_price,
        (od.order_number * od.order_price)sale_price,
        od.order_number ,od.order_price
        from shengxian_order o
        inner join shengxian_order_details od on od.order_id = o.id
        inner join shengxian_binding bd on bd.id = o.binding_id
        left join shengxian_goods g on g.id = od.goods_id
        where o.is_del = 0 and o.status = 4  and o.business_id = #{business_id}  and o.mold = 0
        <if test="type != null ">
            and o.state in (0,2)
        </if>
        <if test="bindindId != null">
            and bd.id = #{bindindId}
        </if>
        <if test="name != null and name != ''">
            and bd.user_name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            and DATE_FORMAT(o.audit_time,'%Y-%m-%d') &lt;= #{endTime} and DATE_FORMAT(o.audit_time,'%Y-%m-%d') &gt;= #{startTime}
        </if>
        order by o.audit_time desc
    </select>

    <!--客户账单统计-->
    <select id="shareUserOrderTotalMoeny" resultType="HashMap">
        select ifnull( sum(od.profit) ,0)profit,
        ifnull(sum( od.cost_price * od.order_number),0)cost_price,
        ifnull(sum(( od.order_number * od.order_price)), 0)sale_price
        from shengxian_order o
        inner join shengxian_order_details od on od.order_id = o.id
        inner join shengxian_binding bd on bd.id = o.binding_id
        left join shengxian_goods g on g.id = od.goods_id
        where o.is_del = 0 and o.status = 4  and o.business_id = #{business_id}  and o.mold = 0
        <if test="type != null ">
            and o.state in (0,2)
        </if>
        <if test="bindindId != null">
            and bd.id = #{bindindId}
        </if>
        <if test="name != null and name != ''">
            and bd.user_name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            and DATE_FORMAT(o.audit_time,'%Y-%m-%d') &lt;= #{endTime} and DATE_FORMAT(o.audit_time,'%Y-%m-%d') &gt;= #{startTime}
        </if>
    </select>

    <!--分享到微信上的订单-->
    <select id="shareWXRecord" resultType="Integer">
        select od.id
        from shengxian_order o
        inner join shengxian_order_details od on od.order_id = o.id
        inner join shengxian_binding bd on bd.id = o.binding_id
        left join shengxian_goods g on g.id = od.goods_id
        where o.is_del = 0 and o.status = 4  and o.business_id = #{business_id}  and o.mold = 0
        <if test="type != null ">
            and o.state in (0,2)
        </if>
        <if test="bindindId != null">
            and bd.id = #{bindindId}
        </if>
        <if test="name != null and name != ''">
            and bd.user_name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            and DATE_FORMAT(o.audit_time,'%Y-%m-%d') &lt;= #{endTime} and DATE_FORMAT(o.audit_time,'%Y-%m-%d') &gt;= #{startTime}
        </if>
        order by o.audit_time desc
    </select>

    <!--用户销售明细导出总金额-->
    <select id="userSaleDetailDownloadTatolMoney" resultType="Double">
        select  ifnull(sum(( od.order_number * od.order_price)), 0)tatol
        from shengxian_order o
        inner join shengxian_order_details od on od.order_id = o.id
        inner join shengxian_binding bd on bd.id = o.binding_id
        left join shengxian_goods g on g.id = od.goods_id
        where o.is_del = 0 and o.status = 4  and o.business_id = #{business_id}  and o.mold = 0
        <if test="type != null ">
            and o.state in (0,2)
        </if>
        <if test="bindindId != null">
            and bd.id = #{bindindId}
        </if>
        <if test="name != null and name != ''">
            and bd.user_name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            and DATE_FORMAT(o.audit_time,'%Y-%m-%d') &lt;= #{endTime} and DATE_FORMAT(o.audit_time,'%Y-%m-%d') &gt;= #{startTime}
        </if>
    </select>

    <!--添加到微信分享记录表里-->
    <insert id="addWXShareRecord">
        insert into shengxian_WXShareUserRecord (id , share_id ,price ,startTime ,endTime)
        values ( #{id} ,#{shareId} ,#{price} ,#{startTime} ,#{endTime});
    </insert>
    
    
    <!--客户账单的微信分享-->
    <select id="selectUserWXShareRecord" resultType="HashMap">
        select price ,startTime ,endTime
        from shengxian_WXShareUserRecord where id = #{id}
    </select>

    <!--客户账单的微信分享商品明细-->
    <select id="selectWXShareGoodDetail" resultType="HashMap">
        select od.id ,bd.user_name , g.`name`, od.profit , DATE_FORMAT(o.audit_time,'%Y-%m-%d')audit_time,
        ( od.cost_price * od.order_number)cost_price,
        (od.order_number * od.order_price)sale_price,
        od.order_number ,od.order_price
        from shengxian_order_details od
        inner join shengxian_WXShareUserRecord wx on FIND_IN_SET(od.id ,wx.share_id)
		inner join shengxian_order o on o.id = od.order_id
        inner join shengxian_binding bd on bd.id = o.binding_id
        left join shengxian_goods g on g.id = od.goods_id
        where wx.id = #{id}
    </select>


    <!--订单的微信分享-->
    <select id="orderWXShareRecord" resultType="HashMap">
        select o.id , o.order_number ,o.no ,bd.user_name , o.price ,o.create_time  , o.audit_time
        , o.receivable_time , o.state , o.status ,o.money , o.money2 ,o.beizhu , o.difference_price ,o.freight
        ,ifnull(if(o.coupon_id = 0 ,(select reduce from shengxian_full_reduction where o.activity = id)  ,
        (select  reduce from shengxian_binding_coupon where id = o.coupon_id) ),0)reduce
        from shengxian_order o
        inner join shengxian_binding bd on bd.id = o.binding_id
        where o.id = #{id};
    </select>
    
</mapper>
