<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shengxian.mapper.ShopAppMapper">

    <!--查询店铺APP版本号-->
    <select id="version" resultType="String">
        select version  from version where type = 2
    </select>


    <!--店铺APP中判断在是否有退出登录过-->
    <select id="appIsLogin" resultType="Integer">
        select id from shengxian_business
        where is_del= 0 and  state =0 and token = #{token} and  phone = #{phone}  and model = #{model}
        and system =#{system} and version =#{version} and platform =#{platform}  and SDKVersion =#{SDKVersion}
    </select>

    <!--修改店铺APP手机设备-->
    <update id="updateEquipment">
        update shengxian_business set state = 0 , model =#{model} ,system = #{system} ,version =#{version} ,platform =#{platform} ,SDKVersion =#{SDKVersion}
        where is_del=0 and  token =#{token}
    </update>


</mapper>